<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<th:block  th:fragment="site-header">
    <header class = "header">
        <div class = "container header-container">
            <div class="logo"> M.<span>R.<span>C.</span></span></div>
            <nav class="nav">
                <div class="nav-links">
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Projects</a>
                    <a href="#" class="nav-link">Experience</a>
                    <a href="#" class="nav-link">Achievement</a>
                </div>
            </nav>
        </div>
    </header>

</th:block>
</html>